
.main{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 100px 0;
  background-size: cover;
  background-image: url("../../../assets/image/Image.jpg");
  background-repeat: no-repeat;
}
.clear{
  clear: both;
}

.left{
  height: 520px;
  width: 40%;
  float: left;
  background-color: transparent;
}

.right{
  height: 520px;
  width: 58%;
  float: left;
  background-color: transparent;
}

.ha{
  margin: 80px auto;
  width: 370px;
  height: auto;
  clear: both;
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  border-radius: 5px;
}
.form-sign-in {
  width: 400px;
  height: 100%;
  float: left;
  color: #ffffff;
}
.clear{
  clear: both;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input.example-right-align {
  -moz-appearance: textfield;
}

input{
  background-color: white;
  color: black;
  font-size: 16px;
  height: 40px;
  width: 80%;
  border: 1px solid gray;
  /*border-right: 2px solid rgb(63, 81,181);*/
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.button{
  height: auto;
  width: 145px;
  background-color: white;
  border-radius: 5px;
}
button{
  padding-left: 50px;
  font-weight: bold;
  padding-right: 50px;
  background-color: dodgerblue;
}

input:focus {
  border-left: 4px solid dodgerblue;
  cursor: pointer;
}
